<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>D2DRAFT/a11y7A</title>
</head>
<body>
<% include _head %>
<main>
	<div class="hero">
		<h2>気になること、本当に知りたいこと。<br>ここにあり。</h2>
		<img src="assets/img/mainvisual.jpg" alt="">
	</div>
	<section>

	</section>
	<section>
	</section>
	<section>
	</section>
</main>
<% include _foot %>
</body>
</html>
