<header>
	<h1><img src="assets/img/logo.png" alt="D2 - DEV &amp; DESIGN DRAFT"></h1>
	<nav>
		<ul>
			<li><a href="#">活動紹介</a></li>
			<li><a href="#">D2Dとは</a></li>
			<li><a href="#">ブログ</a></li>
			<li><a href="#">お問合せ</a></li>
		</ul>
	</nav>
</header>
