<% var path = "assets/img"; %>
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>D2 - DEV &amp; DESIGN DRAFT</title>
</head>
<body>
<% include _head %>
	<main>

		<div>気になること、本当に知りたいこと。 ここにあり〼。</div>
		<img src="<%= path %>/mainvisual.jpg" alt="">

		<section>
			<h2>活動紹介</h2>
			<h3>前回のD2D勉強会のタイトル</h3>
			<p>私もたくさんもし同じ矛盾らというのの中がなりですな。もっと将来で通知者はあたかもその影響でましまでがなれていなけれへは発展かい摘んたなくのに、当然にはあるでですましあり。口に思っありのはやはり結果がまあなけれんた。</p>
			<img src="<%= path %>/img_d2dstudy2.jpg" alt="">
			<a href="#">詳細はこちら</a>
			<a href="#">過去の活動はこちら</a>
			<h3>関連記事</h3>
			<ul>
				<li>2015年１月20日 <a href="#">ここに関連記事のタイトルが入ります。ここに関連記事のタイトルが入ります。</a></li>
				<li>2015年１月20日 <a href="#">ここに関連記事のタイトルが入ります。ここに関連記事のタイトルが入ります。</a></li>
				<li>2015年１月20日 <a href="#">ここに関連記事のタイトルが入ります。ここに関連記事のタイトルが入ります。</a></li>
			</ul>
		</section>

		<section>
			<h2>D2Dとは</h2>
			<p>ウェブのテクニカルな内容とデザイン的な内容を横断した、 特定のプロダクトや技術に限定しない勉強会。</p>
			<p>私もたくさんもし同じ矛盾らというのの中がなりですな。もっと将来で通知者はあたかもその影響でましまでがなれていなけれへは発展かい摘んたなくのに、当然にはあるでですましあり。口に思っありのはやはり結果がまあなけれんた。</p>
			<p>私もたくさんもし同じ矛盾らというのの中がなりですな。もっと将来で通知者はあたかもその影響でましまでがなれていなけれへは発展かい摘んたなくのに、当然にはあるでですましあり。口に思っありのはやはり結果がまあなけれんた。</p>
		</section>
<% include _form %>
	</main>
<% include _foot %>
</body>
</html>
